doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title QUARK ALIEN
    meta(name='description', content='Quark alien')
  body
    - var left = Math.random()*400
    - var top = Math.random()*400
    - var width = Math.random()*800
    - var height = Math.random()*800
    div(style="position: absolute; width: #{width}px; height: #{height}px; top: #{top}px; left: #{left}px; background: #DEDEDE", onclick="$(this).alien('big')")
    script(src="js/libs/jquery/dist/jquery.min.js")
    script(src="js/main.js")